<div ng-controller="PlayerDetailsCtrl">
	<div class="row">
		<div class="col-sm-6">
			<h4>Personal Infors</h4>

			<div class="form-group">
				<label>Full Name</label>
				<input type="text" class="form-control" name="" ng-model="playerObject.full_name" required>
			</div>

			<div class="form-group">
				<label>Nationality</label>
				<select class="form-control" ng-model="playerObject.nationality" required>
					<option ng-repeat="(k, country) in countries" ng-selected="k == playerObject.nationality" value="{{k}}">
						{{country.name}}
					</option>
				</select>
			</div>

			<div class="form-group">
				<label>Year of birth</label>
				<input type="number" class="form-control" name="" ng-model="playerObject.year_of_birth">
			</div>

			<div class="form-group">
				<label>Place of birth</label>
				<textarea class="form-control" name="" ng-model="playerObject.place_of_birth"></textarea>
			</div>
		</div>

		<div class="col-sm-6">
			<h4>Career Infors</h4>

			<div class="form-group">
				<label>Career Status</label>
				<select class="form-control" ng-model="playerObject.career_status">
					<option ng-repeat="v in careerStatuses" ng-selected="v == playerObject.career_status" value="{{v}}">{{v}}</option>
				</select>
			</div>

			<div class="form-group">
				<label>Century breaks</label>
				<input type="number" class="form-control" name="" ng-model="playerObject.century_breaks">
			</div>

			<div class="form-group">
				<label>Highest ranking</label>
				<input type="number" class="form-control" name="" ng-model="playerObject.highest_ranking">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-success" ng-click="savePlayer();">Save changes</button>
		</div>
	</div>
</div>